		
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-left">
						<div>
							<h4>
								<a href="/login">login</a>
							</h4>
						</div>
						<div>
							<h4>
								<a href="register">Signup</a>
							</h4>
						</div>
						<div>
							<h4>
								<a href="/about">About</a>
							</h4>
						</div>
						<h4>
							<span style="color: #acacac;">Copyright © Travio 2020</span> <span style="color:red"></span>
						</h4>
					</div>
					<div class="col-md-4">
						<a href="https://github.com/Prathmesh311" style="color:white;"><i class="icon-github icon-2x"></i> </a>
					</div>
					<div class="col-md-4 text-center">
						<h3>Prathmesh Bhondave</h3>
						<h4 style="color:#acacac;">Undergraduate student at Pune University</h4>
						<p>
							Is the founder of this website
							<br>
							Email: prathmesh.bhondave2@gmail.com
							<br>
							Contact:+91 9284337039
					
							<a href="https://www.facebook.com/prathmesh.bhondave.1" style="color:rgba(0,0,200,0.5);background:white; margin:auto;"><i class="icon-facebook-sign icon-2x"></i> </a>
							<a style="margin:auto 6%;" href="https://www.linkedin.com/in/Prathmesh-Bhondave"><i class="icon-linkedin-sign icon-2x"></i> </a>
							<a href="https://github.com/Prathmesh311" style="color:black;"><i class="icon-github icon-2x"></i> </a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
